@use '../../styles/variables' as *;

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
}

.lib-button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }

  &--small {
    padding: 5px 10px;
    font-size: 0.75rem;
  }

  &--medium {
    padding: 7px 16px;
    font-size: 0.875rem;
  }

  &--large {
    padding: 9px 22px;
    font-size: 1rem;
  }

  &--text {
    background: transparent;
    color: $color-primary;

    &:hover {
      background: $color-primary-08;
    }
  }

  &--contained {
    background: $color-primary;
    color: $color-text-on-primary;

    &:hover {
      background: $color-primary-dark;
    }
  }

  &--outlined {
    background: transparent;
    border: 1px solid $color-primary-50;
    color: $color-primary;

    &:hover {
      border-color: $color-primary;
      background: $color-primary-04;
    }
  }
}