// Primary
$color-primary-light: rgb(67, 150, 232);
$color-primary: rgb(25, 118, 210);
$color-primary-dark: rgb(17, 82, 147);
$color-black: rgb(0, 0, 0);

// Error
$color-error: rgb(211, 47, 47);

// Neutral / Gray
$color-border-default: rgba(0, 0, 0, 0.23);
$color-border-dark: rgba(0, 0, 0, 0.4);
$color-border-hover: rgba(0, 0, 0, 0.6);
$color-border-black: rgba(0, 0, 0, 1);
$color-text-secondary: rgba(0, 0, 0, 0.6);
$color-border-light: rgb(204, 204, 204);
$color-shadow: rgba(0, 0, 0, 0.05);

// Backgrounds
$color-bg: rgb(255, 255, 255);
$color-bg-hovered: rgb(245, 245, 245);

// Button transparencies
$color-primary-08: rgba(25, 118, 210, 0.08);
$color-primary-04: rgba(25, 118, 210, 0.04);
$color-primary-50: rgba(25, 118, 210, 0.5);

// Text on primary button
$color-text-on-primary: rgb(255, 255, 255);
